body {
    background-color: green;
}
div {
    color: white;
}
.btn-primary {
    margin-top: 15px;
}
.wordInput {
    padding-left: 500px;
    padding-right: 500px;
}
.searchText {
    margin-top: 50px;
    padding-left: 500px;
    padding-right: 500px;
}
#message {
    margin-top: 50px;
}