body {
    background-color: green;
}
div {
    color: white;
}
.btn-primary {
    margin-top: 15px;
}
.wordInput {
    padding-left: 100px;
    padding-right: 100px;
}
.searchText {
    margin-top: 100px;
    padding-left: 100px;
    padding-right: 100px;
}